* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: auto;
}

/* hero style start */

.hero {
  height: auto;
  width: auto;
  display: block;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/x-xtgONQzGgOE-unsplash.jpg');
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 70px;
}

.hero-text {
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  /* top: 39%;
  left: 42%;
  transform: translate(-40%, -40%); */
  color: white;
}

.hero-text p {
  padding: 30px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #09233c;
  color: white;
}

.social {
  position: absolute;
  display: inline;
  float: right;
  right: 20px;
  top: 20px;
  color: white;
}

/* hero style end */

/* about me style start */

.about {
  height: 100%;
  color: #09233c;
  width: auto;
  display: inline-block;
  padding: 20px;
}

.about-me {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-me h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.7em;
  padding: 10px;
}

.about-me p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2rem;
  align-self: center;
  padding: 0 30px 30px 30px;
}

/*  about me style end */

/* portfolio style start */

.portfolio {
  height: auto;
  background-color: #09233c;
  color: white;
  padding: 10px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px solid #09233c;
}

.portfolio-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 0 20px;
  margin-top: 20px;
  background-color: #09233c;
  color: white;
}

.portfolio-title h2 {
  justify-content: flex-start;
}

.card {
  position: relative;
  background-color: #5d6677;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(254, 252, 252, 0.2);
}

.image {
  width: 100%;
  height: 300px;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.card-text {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.project {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.list {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* portfolio style end */

/* form style start */

.container {
  height: 100%;
  width: auto;
  background-color: #2a426e;
  margin: 30px auto 30px auto;
  color: white;
}

#contactForm {
  padding: 25px;
}

#contactForm h2 {
  padding-bottom: 20px;
}

#contactForm p {
  padding-bottom: 20px;
}

label {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  padding: 0;
}

.submit_button {
  background-color: #ddd;
  color: #09233c;
  padding: 14px 20px;
  cursor: pointer;
  margin-top: 10px;
  height: 40px;
}

.submit_button:hover {
  background-color: #09233c;
  color: white;
}

input,
textarea {
  border: none;
  border-radius: 3px;
  width: 100%;
}

input {
  height: 30px;
}

/* form style end */

/* footer style start */

footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-color: #5d6677;
  
}

footer h4 {
  padding: 20px 10px 10px 10px;
  font-weight: lighter;
}

footer h5 {
  padding: 10px 20px 20px 20px;
  font-weight: lighter;
}

footer > ul {
  margin: 10px;
  font-weight: lighter;
}

/* footer style end */

/* media querries start */

/* tablets start */

@media only screen and (min-width: 768px) {

.hero {
  display: flex;
  flex-direction: column;
}

.hero-text {
  flex-direction: column;
  font-size: larger;
}

.about {
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.about-me {
  flex-direction: column;
}

.social {
  font-size: x-large;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-flow: row wrap;
}

.card {
  flex: 1;
  
}

#contactForm {
  width: 800px;
}

.social-form {
  position: relative;
  display: inline;
  align-items: center;
  justify-content: center;
}

/* tablets end */

/* laptops start */

@media only screen and (min-width: 992px) {

  /* #contactForm {
    width: 500px;
  } */
 
  #contactForm h2, p {
  /* position: relative;
  display: inline;
  float: right;
  right: 100px;
  top: 30px;
  font-size: x-large */
  }

  /* .social-form {
    position: relative;
    display: inline;
    float: right;
    left: 500px;
    top: 2px;
  
  } */

  .social {
    padding-right: 30px;
    font-size: x-large
  }

}

/* laptops end */

/* media querries end */